/* Hide Sections */

.postbox#notes {
  display: none;
}

/* CSS for entries datatables and approve buttons */
.entry-status {
  background-color: #ced4da;
}

.entry-status.denied {
  background-color: #ff4e4e;
}

.entry-status.approved {
  background-color: #65c9bb;
}

/* Datatable modifications */
.dataTable {
  table-layout: fixed;
  width: 90px;

  td {
    font-size: 0.95em !important;
  }

  .table__component-container {
    position: relative;
    width: 80vw;
  }
}
